// Scale the picture in the about section according to the screen width
.about-img {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media (min-width: 992px) {
    width: 80%;
    margin-bottom: 0px;
  }
}

.about-img-container {
  margin: auto;
}