// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Cog Icon
hr.cog-light,
hr.cog-dark {
  max-width: 25rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.cog-light:after,
hr.cog-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f013';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.cog-light {
  border-color: $white;
}
hr.cog-light:after {
  color: $white;
  background-color: $primary;
}

hr.cog-dark {
  border-color: $secondary;
}
hr.cog-dark:after {
  color: $secondary;
  background-color: white;
}

// Custom horizontal line with company logo
hr.eagle-light,
hr.eagle-dark {
  max-width: 30rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  // Set the left and right margin to 'auto' to also center the line in IE and Edge
  margin-left: auto;
  margin-right: auto;
}

hr.eagle-light:after,
hr.eagle-dark:after {
  position: relative;
  top: -2.1em;
  display: inline-block;
  padding: 0 0.25em;
  content: "";
  background-size: 60px 60px;
  background-position: center;
  width: 65px;
  height: 65px;
}

hr.eagle-dark:after {
  background-image: url(../img/eagle-dark.png);
}
hr.eagle-dark {
  color: $secondary;
}

hr.eagle-light:after {
  background-image: url(../img/eagle-light.png);
}
hr.eagle-light {
  color: $white;
}

// Section Padding Settings
section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

// Add a small border
.black-border {
  border: 2px solid $secondary;
}
