// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Cog Icon
hr.cog-light,
hr.cog-dark {
  max-width: 25rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.cog-light:after,
hr.cog-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f013';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.cog-light {
  border-color: $white;
}
hr.cog-light:after {
  color: $white;
  background-color: $primary;
}

hr.cog-dark {
  border-color: $secondary;
}
hr.cog-dark:after {
  color: $secondary;
  background-color: white;
}

// Custom horizontal line with company logo
hr.eagle-light,
hr.eagle-dark {
  max-width: 30rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  // Set the left and right margin to 'auto' to also center the line in IE and Edge
  margin-left: auto;
  margin-right: auto;
}

hr.eagle-light:after,
hr.eagle-dark:after {
  position: relative;
  top: -2.1em;
  display: inline-block;
  padding: 0 0.25em;
  content: "";
  background-size: 60px 60px;
  background-position: center;
  width: 65px;
  height: 65px;
}

hr.eagle-dark:after {
  background-image: url(../img/eagle-dark.png);
}
hr.eagle-dark {
  color: $secondary;
}

hr.eagle-light:after {
  background-image: url(../img/eagle-light2.png);
}
hr.eagle-light {
  color: $white;
}

// Section Padding Settings
section {
  padding: 2rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    padding: 4rem 0;
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

.slick-slide:not(.slick-lightbox-slick-item) {
  height: 100%;
  position: relative; 
  border: 2px solid white;
  cursor: pointer;
}

.slick-slide img:not(.slick-lightbox-slick-img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; 
}

.slider img {
  // Set the height of images in the projects to 0 to improve rendering.
  // The images will receive their actual height later in the rendering process when 
  // Slick starts adding its own divs and classes.
  height: 0;
}

.slider {
  position: relative;
  margin: auto;
  
  width: 80%;
  /* 40:29 Aspect Ratio */
  padding-top: calc((29/40) * 80%);
  
  
  @media (min-width: 576px) {
    width: 100%;
    /* 40:29 Aspect Ratio */
    padding-top: calc((29/40) * 100%);
  }
}  

.slider .slick-list {
	height:100%;
	position:absolute !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.slick-track {
  height: 100%;
}

.slick-dots li.slick-active button:before {
  content: '•';
}

.slick-dots li button:before {
  content: '◦';
  color: white !important;
  font-size: 40px;
  opacity: 1 !important;
  font-family: 'Times New Roman';
}

.slick-dots li {
  margin: 0 !important;
}

.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -5px;
}

.header {
  padding: 15px 0;
  
  @media (min-width: 992px) {
    padding: 30px 0;
  }
}

.header-image {
  max-width: 50%;
}

.hline {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  overflow: hidden;
  text-align: center;
}

.hline img {
  width: 60px;
}

.hline:before, 
.hline:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30%;
  border-top-style: solid;
  border-top-width: 0.25rem;
}
.hline:before {
  right: 0.5em;
  margin-left: -50%;
}
.hline:after {
  left: 0.5em;
  margin-right: -50%;
}

.light {
  color: white;
}

.dark {
  color: black;
}